# Assignment-2

Ques-1

In [1]:
# Ques 1 Email address spliting.
# lastname.firstname@ibm.com
# First Name : <Name>
# Last Name : <Last Name>
# www.ibm.com
#
email = input("Enter Your Email ID: ")
print(email)

n  = email.split("@")
print(n)

# print(n[0])
# print(n[1])

name = n[0].split(".")
print(name)

# print(name[0])
# print(name[1])

print("*************************************************")
print("First Name : ",name[1])
print("Last Name : ",name[0])
print("Domain : www." + n[1])

Enter Your Email ID: upadhayay.tarun@gmail.com
upadhayay.tarun@gmail.com
['upadhayay.tarun', 'gmail.com']
['upadhayay', 'tarun']
*************************************************
First Name :  tarun
Last Name :  upadhayay
Domain : www.gmail.com

Ques-2

In [2]:
# Q2 Marksheet of Student
print("-------------------------------------------------------------")
print("Please Enter Following Student Details : ")
print("Your Name : ",end=" ")
name = str(input())
print("Your Class : ",end=" ")
cla = input()
print("English : ",end=" ")
e = int(input())
print("Maths : ",end=" ")
m = int(input())
print("Science : ",end=" ")
s = int(input())
print("Computer : ",end=" ")
c = int(input())
print("-------------------------------------------------------------")
print("Name : ",name)
print("Class : ",cla)
print("English Marks : ",e)
print("Maths Marks : ",m)
print("Science Marks : ",s)
print("Computer Marks : ",c)
t = e+m+s+c
print("Total : ",t)
avg = t/4
print("Average : ",avg)
if(avg>=80):
    {
        print("A Grade")
    }
elif(avg>=70 and avg<80) :
    {
        print("B Grade")
    }
elif(avg>=50 and avg<70) :
    {
        print("C Grade")
    }
else :
    {
        print("FAIL")
    }
print("-------------------------------------------------------------")

-------------------------------------------------------------
Please Enter Following Student Details :
Your Name :  Tarun Upadhayay
Your Class :  5th Sem
English :  97
Maths :  100
Science :  100
Computer :  100
-------------------------------------------------------------
Name :  Tarun Upadhayay
Class :  5th Sem
English Marks :  97
Maths Marks :  100
Science Marks :  100
Computer Marks :  100
Total :  397
Average :  99.25
A Grade
-------------------------------------------------------------

Ques-3

In [3]:
# Q3 Hike of Employee
print("-------------------------------------------------------------")
print("Please Enter Following Student Details : ")
print("Employee Name : ",end=" ")
name = str(input())
print("Employee Designment(PM/TM/DEV/other) : ",end=" ")
d = str(input())
print("Employee Experience : ",end=" ")
exp = int(input())
print("Employee Salary : ",end=" ")
sal = int(input())

print("-------------------------------------------------------------")
print("Employee Name : ",name)
print("Employee Designment : ",d)

# When desgination equal to PM
if(d == "PM" ):
    if(exp>=15):
        h = int((sal * 20) / 100)
        print("Hike in Salary : ",h)
    elif (exp >= 10):
        h = int((sal * 15) / 100)
        print("Hike in Salary : ", h)
    else :
        h = int((sal * 12) / 100)
        print("Hike in Salary : ", h)

# When desgination equal to TM
elif(d=="TM"):
    if (exp >= 15):
        h = int((sal * 22) / 100)
        print("Hike in Salary : ", h)
    elif (exp >= 12):
        h = int((sal * 18) / 100)
        print("Hike in Salary : ",h)
    else:
        h = int((sal * 15) / 100)
        print("Hike in Salary : ", h)

# When desgination equal to DEV
elif(d=="DEV"):
    if (exp >= 10):
        h = int((sal * 18) / 100)
        print("Hike in Salary : ",h)
    elif (exp >= 8):
        h = int((sal * 14) / 100)
        print("Hike in Salary : ", h)
    else:
        h = int((sal * 10) / 100)
        print("Hike in Salary : ", h)

# When desgination equal to other
else:
    h = int((sal * 10) / 100)
    print("Hike in Salary : ", h)

-------------------------------------------------------------
Please Enter Following Student Details :
Employee Name :  Tarun Upadhayay
Employee Designment(PM/TM/DEV/other) :  DEV
Employee Experience :  1
Employee Salary :  3200000
-------------------------------------------------------------
Employee Name :  Tarun Upadhayay
Employee Designment :  DEV
Hike in Salary :  320000